<html>
    <head>
        <title>friendgroup</title>
    </head>
    <body>
        <h1>Friendgroup</h1>
        <div>
            <form action="/createf" method="post">
                <input type="text" name="groupname" placeholder="groupname" required/>
                <br/>
                <input type="text" name="description" placeholder="description">
                <br/>
                <input type="submit" value="create">
            </form>
            <a href="/friendfroup">back</a>
            <a href="/logout">Logout</a>
        </div>
    </body>
</html>