<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <h1>Image Gallery</h1>
        <div>
            <form action="/view" method="GET">
            {% for image in images %}
                <input type="radio" name="image" value={{image.photoID}}><img src="/image/{{image.filepath}}" width="300"/> </input>
                <br>
            {% endfor %}

            {% for image in images2 %}
                <input type="radio" name="image" value={{image.photoID}}><img src="/image/{{image.filepath}}" width="300"/> </input>
                <br>
            {% endfor %}
            <input type="submit" value="view">
            </form>
        </div>
        <a href="/">Go back</a>
    </body>
</html>